body {
    display: flex;
    justify-content: center;
    background-image: url("https://wallpapers.com/images/hd/anime-school-background-0akglzygbxchtz5t.jpg");
}
.calculator {
    display: flex;
    flex-direction: column;
    background-color:antiquewhite #202026;
    width: 500px;
    
}
.topSection {
     display: flex;
     justify-content: center;
     background-color: #F2F2F2;
     padding: 30px;
}
.display {
    background-color: #505455;
    color: white
}
.buttons {
    display: flex;
    background-color: #202026;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 600px;
}
.calcButton {
    width: 40px;
    height: 40px;
    background-color: white;
}