.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    display: flex;
    flex-direction: column;
    background-color:red;
    width: 500px;
    border: solid black;
    
}
.topSection {
     display: flex;
     justify-content: center;
     background-color: #F2F2F2;
     padding: 10px;
}
.display {
    background-color: #505455;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100px;
}
.buttons {
    display: flex;
    flex-direction: column;
    background-color: #202026;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.calcRow { 
    display: flex;
    gap: 5px;
}
.calcButton {
    width: 100px;
    height: 80px;
    background-color: #EDF0EA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    
}
.doubleWidth {
    width: 205px; /* Adjust based on your desired width and the gap between buttons */
}
[data-type="operation"] {
    background-color: #D6D7D7;
}
