body {
    background-color: #F4BD58;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-right: 30px solid #202026; 
    border-left: 30px solid #202026;
    border-top : 15px solid #202026;
    
}
.topSection {
     display: flex;
     justify-content: center;
     background-color: #CACBD0;
     padding: 10px;
}

.fullDisplay {
    background-color: #7A7E63;
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100px;
    padding-right: 40px;
}
.prevCalc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}
.display {
    display: flex;
    justify-content: flex-end;
    font-size: 45px;
    overflow:hidden;
}
.buttons {
    display: flex;
    flex-direction: column;
    background-color: #202026;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 40px;
}
.calcRow { 
    display: flex;
    gap: 5px;
}
.calcButton {
    width: 100px;
    height: 80px;
    background-color: #EDF0EA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    
}
.doubleWidth {
    width: 205px; /* Adjust based on your desired width and the gap between buttons */
}
[data-type="operation"] {
    background-color: #D6D7D7;
}
[data-type="clear"] {
    background-color: #809AB1;
    /*Alternate green color: #83BE86*/
}

